table {
    width: 800px;
    height: 200px;
    margin: auto;
  }
  
  th {
    background-color:black;
    padding: auto;
    color:white
  }
  
  td {
    background-color:antiquewhite;
    padding: auto;
    text-align: start;
    height: 30px;
    margin: 0%;
    width: auto;
  }